[submodule "local/Plugin/HumanitiesCommonsIdpEnroller"]
	path = local/Plugin/HumanitiesCommonsIdpEnroller
	url = git@github.com:mlaa/HumanitiesCommonsIdpEnroller.git
[submodule "local/Plugin/MlaSource"]
	path = local/Plugin/MlaSource
	url = git@github.com:mlaa/MlaSource.git
